<template>
  <v-container fluid class="full-height">
    <div class="alert-box">
      <TransitionGroup name="list">
        <alert
          v-for="(al, alId) in alerts"
          :key="'alert-' + alId"
          :type="al.alertType"
          :alert_text="al.alertText"
        ></alert>
      </TransitionGroup>
    </div>
    <v-form>
      <v-row justify="center">
        <v-col cols="12" md="12" xs="12" sm="12" lg="6" xl="6">
          <v-text-field
            :disabled="lock"
            v-model="userText"
            :counter="100"
            @change="unchangeText = false"
            label="Search GitHub"
            required
          ></v-text-field>
          <v-btn
            :disabled="lock || userText == ''"
            color="info"
            @click="search(1)"
          >
            Search
          </v-btn>
          <transition name="fade">
            <v-btn
              v-if="unchangeText && Math.ceil(gitHubData.total_count / 100) > 0"
              :disabled="
                lock || Math.ceil(gitHubData.total_count / 100) <= page
              "
              class="ml-2"
              color="info"
              @click="search(page + 1)"
            >
              Next Page [{{ page }} /
              {{ Math.ceil(gitHubData.total_count / 100) }}]
            </v-btn>
          </transition>
        </v-col>
      </v-row>
    </v-form>

    <v-row justify="center" class="fill-height">
      <v-col cols="12" md="12" xs="12" sm="12" lg="12" xl="12">
        <data-table
          v-if="gitHubData.items && !lock"
          :git_data="gitHubData.items"
          :page_number="page"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import DataTable from "@/components/Searcher/DataTable/DataTable.vue";
import Alert from "@/components/Searcher/Alert/Alert.vue";
import { Options, Vue } from "vue-class-component";
import axios from "axios";
@Options({
  components: {
    DataTable,
    Alert,
  },
})
export default class Searcher extends Vue {
  // eslint-disable-next-line
  private gitHubData: any[] = [];
  private lock: boolean = false;
  private userText: String = "";
  private unchangeText: boolean = false;
  private page: Number = 1;
  private alerts: { alertType: String; alertText: String }[] = [];
  addAlert(type: string, text: string): void {
    this.alerts.push({ alertType: type, alertText: text });
  }
  search(page: number): void {
    this.lock = true;
    this.page = page;
    this.getGithubRepo()
      .then((data) => {
        this.gitHubData = data;
        if (data.items.length == 0) this.addAlert("warning", "No data");
        else this.addAlert("success", "response fine");
        this.unchangeText = true;
      })
      .catch((err) => {
        this.addAlert("error", "ERROR!!!!");
        console.log(err);
        this.unchangeText = false;
      })
      .finally(() => (this.lock = false));
  }
  // eslint-disable-next-line
  async getGithubRepo(): Promise<any> {
    return new Promise((resolve, reject) => {
      let query: String = "";
      query = "q=" + this.userText.replaceAll(" ", "+");
      axios({
        method: "get",
        url:
          "https://api.github.com/search/repositories?page=" +
          this.page +
          "&" +
          query +
          "&sort=created&order=asc&per_page=100",
      })
        .then((data) => {
          if (data.status == 200 && data.data) resolve(data.data);
        })
        .catch((error) => reject(error));
    });
  }
}
</script>
<style scoped lang="sass">
.fade-enter-active
  transition: all .5s ease
.fade-leave-active
  transition: all .5s ease
.fade-enter-from
  opacity: 0
.fade-leave-to
  opacity: 0
.list-enter-active
  transition: all 0.5s ease
.list-leave-active
  transition: all 0.5s ease
.list-enter-from, .list-leave-to
  opacity: 0
  transform: translateX(100%)
.alert-box
  position: absolute
  right: 0
  top: 0
  z-index: 5
</style>
