<template>
  <v-expansion-panels>
    <v-expansion-panel
      v-for="(it, itId) in git_data"
      :key="'git-hub-table-item-' + itId"
    >
      <v-expansion-panel-title>
        {{ itId + 1 + 100 * (page_number - 1) + "." }} {{ it.name }}
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <v-btn
          color="success"
          icon="mdi-link"
          size="x-small"
          variant="outlined"
          target="_blank"
          :href="it.html_url"
        ></v-btn>
        <br />
        {{ it.description }}
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    git_data: Array,
    page_number: Number,
  },
})
export default class DataTable extends Vue {
  git_data!: any[];
  page_number!: Number;
}
</script>
<style scoped lang="sass"></style>
