<template>
  <v-theme-provider class="home pa-10" theme="dark" with-background>
    <searcher />
  </v-theme-provider>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Searcher from "@/components/Searcher/Searcher.vue"; // @ is an alias to /src

@Options({
  components: {
    Searcher,
  },
})
export default class Home extends Vue {}
</script>
<style lang="sass">
html, body
  width: 100vw
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  .home
    width: 100%
    height: 100%
</style>
