<template>
  <v-alert
    style="margin: 1vh"
    icon="mdi-fire"
    variant="outlined"
    closable
    :type="type"
    >{{ alert_text }}</v-alert
  >
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    type: String,
    alert_text: String,
  },
})
export default class Alert extends Vue {
  type!: String;
  alert_text!: String;
}
</script>
